@font-face{
  font-family: Times;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: black;
  text-align: center;
  color: grey;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://miro.medium.com/v2/resize:fit:600/1*C5ga10h8f2n-ITbybT3vIQ.jpeg");
  background-size: 1200px 800px;
}



